body {
  background-color: #7f9db1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #11181C;
}

a {
  text-decoration: none;
  font-size: 36px;
  color: white;
}

@media only screen and (max-width: 768px) {

  li a {
    font-size: .9rem;
  }

  /* For desktop:
  .col-1 {
      width: 8.33%;
  }

  .col-2 {
      width: 16.66%;
  }

  .col-3 {
      width: 25%;
  }

  .col-4 {
      width: 33.33%;
  }

  .col-5 {
      width: 41.66%;
  }

  .col-6 {
      width: 50%;
  }

  .col-7 {
      width: 58.33%;
  }

  .col-8 {
      width: 66.66%;
  }

  .col-9 {
      width: 75%;
  }

  .col-10 {
      width: 83.33%;
  }

  .col-11 {
      width: 91.66%;
  }

  .col-12 {
      width: 100%;
  } */
}

.container {
  background-color: #a0d0e9;
  padding-top: 30px;
  padding-bottom: 50px;
  max-width: 100%;
}

.skill-text {
  font-size: 36px;
}

.button {
  background-color: #0d3b66;
  border-radius: 4px;
  display: inline-block;
  padding-top: 4px;
  text-align: center;
  border: 5px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

a {
  overflow: hidden;
}

#bioPic {
  max-height: 100%;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px black;
}

#skillrow {
  /* padding-top: 10px;
  padding-bottom: 10px; */
  padding: 10px;
  background-color: #092e66;
}

#comicPic {
  max-width: 100%;
}

video {
  max-width: 100%;
  /* overflow: hidden; */
  align-items: center;
}

#skills {
  font-size: 36px;
}

#skillsUsed {
  margin-top: 2rem;
}

/* Skill icons */
.skills-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 9rem;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1rem;
  text-align: center;
  color: #111;
}

.skill img {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  object-fit: contain;
}

/* Make everything stack & resize nicely on mobile */
@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2{
    font-size: 1.5rem;
  }
  .row {
    flex-direction: column;
  }

  .col-md-6 {
    width: 100%;
    max-width: 100%;
  }

  .skills-icons {
    justify-content: center;
    gap: 2rem;
    padding-top: 10px;
  }

  .skill {
    width: 60px;
    font-size: 0.75em;
  }

  .skill img {
    width: 70px;
    height: 70px;
  }

  #VR {
    padding-left: 20px;
    padding-right: 20px;
  }

  #VR h2 {
    font-size: 1.6em;
    text-align: center;
  }
  #vrText {
    font-size: 0.6em;
    text-align: justify;
  }
  #kestrel {
    padding-left: 20px;
    padding-right: 20px;
  }
  #kestrelText{
    font-size: 0.6em;
    text-align: justify;
  }
  #FishandGame {
    padding-left: 20px;
    padding-right: 20px;
  }

    #fishandgameText {
    font-size: 0.6em;
    text-align: justify;
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 20px;
  }

  .video-container iframe {
    width: 100%;
  max-width: 560px;
  height: auto;
  }
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 20px;
  }

  .video-container iframe {
    width: 100%;
    height: 100%;
  }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0d3b66;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  /* This is for the top banner */
}

li {
  float: left;
}

#return {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.content {
  margin-top: 40px;
  /* padding: 20px; */
}
section{
  scroll-margin-top: 80px;
}
@media (max-width: 1024px) {
  section {
    padding: 40px 20px;
    scroll-margin-top: 140px;
  }
}